<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GEARY</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
    <script src="https://kit.fontawesome.com/6ea72585f5.js" crossorigin="anonymous"></script>
</head>
<body> 
<header>

    <div class="top">

<a href="#"><i class="fa-solid fa-bars"></i> </a> 
<img id="logo" src="" >
<a  href="Profile_page.html"><i class="fa-solid fa-user"></i> </a> 

    </div>
<hr>
<section id="title_page">
    
    <h2>
        Events 
    </h2>
   
</section>
<hr>
</header>

<main>

<div class="search-bar"> Search events </div>


<div class="event-card">
    <div class="event-image"></div>
    <div class="event-info">
      <h3>Event name</h3>
      <p>Event info: details go here...</p>
      <div class="buttons">
        <button>Join</button>
        <button>Read more</button>
      </div>
    </div>
  </div>


  <div class="event-card">
    <div class="event-image"></div>
    <div class="event-info">
      <h3>Event name</h3>
      <p>Event info: details go here...</p>
      <div class="buttons">
        <button>Join</button>
        <button>Read more</button>
      </div>
    </div>
  </div>

  <div class="event-card">
    <div class="event-image"></div>
    <div class="event-info">
      <h3>Event name</h3>
      <p>Event info: details go here...</p>
      <div class="buttons">
        <button>Join</button>
        <button>Read more</button>
      </div>
    </div>
  </div>


<div class="event-card">
    <div class="event-image"></div>
    <div class="event-info">
      <h3>Event name</h3>
      <p>Event info: details go here...</p>
      <div class="buttons">
        <button>Join</button>
        <button>Read more</button>
      </div>
    </div>
  </div>

</main>

<footer>
   <div class="bottom">
       <a href="#"><i class="fa-solid fa-bell"></i> </a> 
<button><a id="events" href="Events_page.html"> events </a></button>
  <a href="Home_page.html"> <i class="fa-solid fa-house"  ></i></a>


    </div>
</footer>

</body>