<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GEARY</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
<script src="https://kit.fontawesome.com/6ea72585f5.js" crossorigin="anonymous"></script>
</head>
<body>
<header>

    <div class="top">
<a href="#"><i class="fa-solid fa-bars"></i> </a> 
<img id="logo" src="" >
<a  href="Profile_page.html"><i class="fa-solid fa-user"></i> </a> 

    </div>
   <hr>
<section id="title_page">
 
    <h2>
        Profile 
    </h2>
  
</section>
   <hr>
</header>

<main>
    
 <div class="profile-section">
    <div class="profile_pic"></div>
  
    <div class="personal_info">
        <h3>About biker</h3>
        <P>Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque faucibus ex sapien vitae pellentesque sem placerat.</P>
    </div>
      <button class="edit_btn">Edit</button>
    </div>

     <div class="bike-section">
    <div class="bike_pic">  </div>
      <div class="bike-info">
    <h3>Bike Info</h3>
     <P>Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque faucibus ex sapien vitae pellentesque sem placerat.</P>
  </div>
    <button class="edit-btn">Edit</button>



  </div>

 <div class="grid-posts">
    <div class="gpost"> <img src="placeholder" alt="placeholder"></div>
    <div class="gpost"> <img src="placeholder" alt="placeholder"></div>
    <div class="gpost"> <img src="placeholder" alt="placeholder"></div>
    <div class="gpost"> <img src="placeholder" alt="placeholder"></div>
    <div class="gpost"> <img src="placeholder" alt="placeholder"></div>
    <div class="gpost"> <img src="placeholder" alt="placeholder"></div>
    <div class="gpost"> <img src="placeholder" alt="placeholder"></div>
    <div class="gpost"> <img src="placeholder" alt="placeholder"></div>
   <div class="gpost"> <img src="placeholder" alt="placeholder"></div>
       <div class="gpost"> <img src="placeholder" alt="placeholder"></div>
   <div class="gpost"> <img src="placeholder" alt="placeholder"></div>
  </div>

</main>

<footer>
    <div class="bottom">
       <a href="#"><i class="fa-solid fa-bell"></i> </a> 
<button><a id="events" href="Events_page.html"> events </a></button>
  <a href="Home_page.html"> <i class="fa-solid fa-house"  ></i></a>

    </div>
</footer>

</body>